{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="vapid-key" content="{{ vapid_key }}">

    {% if user.id %}
      <meta name="user_id" content="{{ user.id }}">
    {% endif %}

    <title>DRF Notification</title>
  </head>

  <body>
    <div>
      {% if user.is_authenticated %}
        <form id="send-push__form">
          <h3 class="header">Send a push notification</h3>
          <p class="error"></p>
          <input type="text" name="head" placeholder="Header: Your favorite airline 😍"><br/>
          <textarea name="body" id="" cols="30" rows="10" placeholder="Body: Your flight has been cancelled 😱😱😱"></textarea><br/>
          <button>Send Me</button>
          <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
          <script src="{% static '/js/site.js' %}"></script>

          {% if user %}
            {{ user }}<br/>
          {% endif %}

        </form>
      {% endif %}
    </div>
  </body>
</html>