{% load webpush_notifications %}
<html>
  <head>
    {% if user.is_authenticated %}
      {% webpush_header %}
    {% endif %}
  </head>
  <body>
    {% if user.is_authenticated %}
      username: {{ request.user.username }}<br/>
      group: {{ webpush.group }}<br/>
      {% if webpush.group and webpush.group != 'none' %}
        {% webpush_button %}
      {% else %}
        Please contact admin to assign a group to {{ request.user.username }}
      {% endif %}
    {% else %}
      Please login to get access
    {% endif %}
  </body>
</html>